@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: #0a0909;
}

.reverse-spin {
  animation-direction: reverse;
}

.node__root > circle {
  fill: red;
}

.node__branch > circle {
  fill: yellow;
}

.node__leaf > circle {
  fill: green;
  /* Let's also make the radius of leaf nodes larger */
  r: 40;
}

.custom-link {
  stroke: white !important;
}

.rd3t-label__title {
  /* color: white !important; */
  fill: white !important;
}

.skills-container {
  perspective: 1000px;
}

.skills-banner {
  transform: rotateX(15deg) translateZ(200px);
  transform-style: preserve-3d;
  animation: moveUp 30s infinite linear alternate-reverse;
}

@keyframes moveUp {
  0% {
    top: 0%;
  }
  100% {
    top:-70%
  }
}

/* .skill-icons{
   width: 40px !important;
   height: 40px !important;
} */
